/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Poppins:ital,wght@0,400;0,500;1,600&display=swap'); */

*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0 auto;
  padding: 0;
  height: 100%;
  color: #323232;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  background-color: #f9f9f9;
  background-image: url('/images/body-bg.png');
  background-repeat: no-repeat;
  background-position: 100% 0;
}

a {
  text-decoration: none;
  color: #074eab;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
input {
  margin: 0;
  padding: 0;
}

button:hover {
  filter: brightness(200%);
  box-shadow: 1px 1px 1px 2px #074eab;
  cursor: pointer;
}

input:focus {
  outline: none;
}

a:hover,
a:focus {
  filter: brightness(200%);
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.hidden {
  display: none;
}
