.link {
  font-size: 1.2rem;
  font-weight: 500;
  white-space: nowrap;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link a {
  display: flex;
  align-items: center;
}

.link img {
  margin: 8px;
}